/{{define "content"}}
<main class="main-content">
    <header class="w3-center w3-light-gray header">
	<div class="w3-padding-large">
	    <h1>ABOUT US</h1>
	</div>
    </header>
    <section class="w3-content">
	<h2 class="w3-center section-header">Who We Are</h2>
	<hr>
	<p>
	    ERAC Energy Limited is an energy company with offices in Lusaka, and provides innovative solar energy systems to commercial (e.g. schools, clinics, government/private institutions) and residential (e.g. households, small scale farmers) customers.</p>
	<p> 
	    ERAC Energy Limited provides only the highest-quality service. We are not only designers and dealers of solar energy systems but also offer other services including:
	    <ul>
		<li>Residential and commercial wiring</li>
		<li>Electrical installation and repair services</li>
		<li>Technical consultancy on solar energy systems</li>
		<li>Energy efficiency, energy audits and energy assessments</li>
	    </ul>
	    Our qualified team of technicians and engineers are at hand to make your electrical project successful. All our solutions are tailor-made to meet our customers’ needs.
	</p>
    </section>
    <section class="w3-content">
	<h2 class="w3-center section-header">Our Mission</h2>
	<hr>
	<div class="w3-row">
	    <div class="w3-col s12 m3 w3-center">
		<img src="/assets/images/mission.jpg" alt="mission" width="90%">
	    </div>
	    <div class="w3-col s12 m9">
		<p>Our Mission is to electrify rural Africa using innovative low-cost clean energy technologies without leaving anyone behind.</p>
	    </div>
	</div>
    </section>
    <section class="w3-content">
	<h2 class="w3-center section-header">Our Vision</h2>
	<hr>
	<div class="w3-row">
	    <div class="w3-col s12 m3 w3-center">
		<img src="/assets/images/mission.jpg" alt="mission" width="90%">
	    </div>
	    <div class="w3-col s12 m9">
		<p>Our Vision is to become a leading innovative hub for clean energy technologies in Africa in order to secure self-sustainable smart communities.</p>
	    </div>
	</div>
    </section>
    <section class="w3-content">
	<h2 class="w3-center section-header">Our Model</h2>
	<hr>
	<ol>
	    <li>Site Survey: Our professional team of certified engineers and technicians come to your site and	determine your exact energy needs.</li>
	    <li>System Design: Using data from the site survey, our engineers will custom design the best solar system for you.</li>
	    <li>Financing: Our systems can be acquired on cash and installment plans. We have 2, 3, and 6 months payment plans for qualifying individuals, businesses, enterprises and institutions.</li>
	    <li>Installation: Once payment has been made, our professional team of technicians and engineers install the system within 7 to 14 working days after payment. Our system includes a remote monitoring system which allows us to track your system’s performance in real-time and quickly identify any servicing issues that may arise.</li>
	    <li>Servicing and Maintenance: Every system is backed by a 1-year warranty. This includes emergency and scheduled maintenance visits.</li>
	</ol>
    </section>
    <section class="w3-content">
	<h2 class="w3-center section-header">Great Reasons to Choose ERAC Energy</h2>
	<hr>
    </section>
</main>
<script>
 w3.slideshow(".mySlides", 4000)
 var slideIndex = 1;
 showDivs(slideIndex);

 function plusDivs(n) {
     showDivs(slideIndex += n);
 }

 function showDivs(n) {
     var i;
     var x = document.getElementsByClassName("mySlides");
     if (n > x.length) {slideIndex = 1}
     if (n < 1) {slideIndex = x.length}
     for (i = 0; i < x.length; i++) {
	 x[i].style.display = "none";  
     }
     x[slideIndex-1].style.display = "block";  
 }
</script>
{{end}}
