/{{define "content"}}
<main class="w3-container main-content">
    <!--section class="w3-content w3-center">
	<div class="w3-padding-large w3-display-container">
	    <img class="mySlides w3-center" src="/assets/images/solar-kits.png" style="width:100%">
	    <img class="mySlides" src="/assets/images/solar-pumpset.png" style="width:100%">
	    <img class="mySlides" src="/assets/images/solar-geysers.png" style="width:100%">

	    <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
	    <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
	</div>
    </section-->
    <section class="w3-content">
	<h2 class="w3-center section-header">Who We Are</h2>
	<p>ERAC ENERGY LIMITED is a Zambian registered energy company with offices in Lusaka, and provides
	    innovative solar energy systems to commercial (e.g. schools, clinics, government/private institutions)
	    and residential (e.g. households, small scale farmers) customers.
	    We are not only designers and dealers of solar energy systems but also offer other services including
	    installation and maintenance, technical consultancy, energy efficiency, energy audits and energy
	    assessments for individual customers as well as institutions such as the education and health sector.
	    Our qualified team of technicians and engineers from renowned universities with vivid experience and
	    exposure in renewable energy systems are at hand to make your solar project successful. All our
	    solutions are tailor-made to meet our customers’ needs.
	    We supply products from the United Kingdom, Germany, Italy, France, Switzerland, and the United
	    States.
	</p>
    </section>
    <section class="w3-content">
	<h2 class="w3-center section-header">Our Mission</h2>
	<p>To electrify rural Africa using innovative low-cost clean energy technologies without leaving anyone behind.</p>
    </section>
    <section class="w3-content">
	<h2 class="w3-center section-header">Our Vision</h2>
	<p>To become a leading innovative hub for clean energy technologies in Africa in order to secure self-sustainable smart communities.</p>
    </section>
    <section class="w3-content">
	<h2 class="w3-center section-header">Our Model</h2>
	<ol>
	    <li>Site Survey: Our professional team of certified engineers and technicians come to your site and	determine your exact energy needs.</li>
	    <li>System Design: Using data from the site survey, our engineers will custom design the best solar system for you.</li>
	    <li>Financing: Our systems can be acquired on cash and installment plans. We have 2, 3, and 6 months payment plans for qualifying individuals, businesses, enterprises and institutions.</li>
	    <li>Installation: Once payment has been made, our professional team of technicians and engineers install the system within 7 to 14 working days after payment. Our system includes a remote monitoring system which allows us to track your system’s performance in real-time and quickly identify any servicing issues that may arise.</li>
	    <li>Servicing and Maintenance: Every system is backed by a 1-year warranty. This includes emergency and scheduled maintenance visits.</li>
	</ol>
    </section>
</main>
<script>
 w3.slideshow(".mySlides", 4000)
 var slideIndex = 1;
 showDivs(slideIndex);

 function plusDivs(n) {
     showDivs(slideIndex += n);
 }

 function showDivs(n) {
     var i;
     var x = document.getElementsByClassName("mySlides");
     if (n > x.length) {slideIndex = 1}
     if (n < 1) {slideIndex = x.length}
     for (i = 0; i < x.length; i++) {
	 x[i].style.display = "none";  
     }
     x[slideIndex-1].style.display = "block";  
 }
</script>
{{end}}
