{{define "content"}}
<main class="main-content">
    <header class="w3-center theme-bg-2 header">
	<div class="w3-padding-large">
	    <h1 class="w3-text-white">OUR BLOG</h1>
	</div>
    </header>
    <section class="w3-content">
	<div class="w3-container">
	    <h2 class="w3-center section-header">SOLAR NANO-GRID FOR OUR MOON EDUCATION</h2>
	    <hr>
	    <div class="w3-container">
		<p>Our Moon Education is a charitable organization registered in Zambia which helps underprivileged students to access higher education. It is located in Chibombo district, Chipasha village about 120km away from Lusaka capital. The institution is not connected to the national grid. This had a huge impact on the running of programs at the institution: students had limited study times and there was no running water.</p>
		<p>In June 2020, ERAC Energy Limited successfully installed a 2.68 kW nano-grid solar system to provide general lighting and phone charging, supply laptops, internet router and a solar water pump.</p>
		<p>Thanks to Helen Leale-Green, CEO and founder of Our Moon and Justin Mushitu, the Executive officer of the same institution for contracting ERAC Energy to install the solar nano-grid system.</p>
		<p>The school now has a reliable power and piped water supply.  With the reliable power supply, the school can teach computer skills to the students and the students can have long prep times.  With the access to piped water supply, water borne related diseases are reduced and the school can venture in income generating activities such as aquaculture.
		</p>
	    </div>
	    <div class="w3-padding-large w3-display-container">
		<div class="mySlides w3-row bgimg-slide" style="background-image: url('/assets/images/moon_education/1.jpeg')">
		</div>
		<div class="mySlides w3-row bgimg-slide" style="background-image: url('/assets/images/moon_education/2.jpeg')">
		</div>
		<div class="mySlides w3-row bgimg-slide" style="background-image: url('/assets/images/moon_education/3.jpeg')">
		</div>
		<div class="mySlides w3-row bgimg-slide" style="background-image: url('/assets/images/moon_education/4.jpeg')">
		</div>
		<div class="mySlides w3-row bgimg-slide" style="background-image: url('/assets/images/moon_education/5.jpeg')">
		</div>
		{{/*<div class="mySlides w3-row bgimg-slide" style="background-image: url('/assets/images/solar-panels-for-inverter-and-pump.jpeg')">
		</div>
		<div class="mySlides w3-row bgimg-slide" style="background-image: url('/assets/images/hybrid-system.jpeg')">
		</div>
		<div class="mySlides w3-row bgimg-slide" style="background-image: url('/assets/images/students-night-study.jpeg')">
		</div>*/}}
		<button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1, 'mySlides')">&#10094;</button>
		<button class="w3-button w3-black w3-display-right" onclick="plusDivs(1, 'mySlides')">&#10095;</button>
	    </div>
	</div>
    </section>
    <div class="w3-padding-large w3-content w3-center" style="margin-top:40px;margin-bottom:40px"><hr></div>
    <section class="w3-content">
	<div class="w3-container">
	    <h2 class="w3-center section-header">RESIDENTIAL HYBRID SOLAR HOME SYSTEMS</h2>
	    <hr>
	    <div class="w3-container">
		<p>ERAC Energy Limited has installed a number of residential hybrid solar home systems. An example is a 1.2kW solar PV system, 3kVA hybrid inverter and 5.28kWh battery bank installed in a residential home in Lusaka West. With the current load shedding in Zambia, the client will now have continuous power supply during load shedding and reduced monthly electricity bills.
		</p>
	    </div>
	    <div class="w3-padding-large w3-display-container">
		<div class="mySlides2 w3-row bgimg-slide" style="background-image: url('/assets/images/res_hybrid/1.jpeg')"></div>
		<div class="mySlides2 w3-row bgimg-slide" style="background-image: url('/assets/images/res_hybrid/2.jpeg')"></div>
		<div class="mySlides2 w3-row bgimg-slide" style="background-image: url('/assets/images/res_hybrid/3.jpeg')"></div>
		<div class="mySlides2 w3-row bgimg-slide" style="background-image: url('/assets/images/res_hybrid/4.jpeg')"></div>
		<div class="mySlides2 w3-row bgimg-slide" style="background-image: url('/assets/images/res_hybrid/5.jpeg')"></div>

		{{/*
		<div class="mySlides2 w3-row bgimg-slide" style="background-image: url('/assets/images/solar-panels-for-inverter-and-pump.jpeg')">
		</div>
		<div class="mySlides2 w3-row bgimg-slide" style="background-image: url('/assets/images/hybrid-system.jpeg')">
		</div>
		<div class="mySlides2 w3-row bgimg-slide" style="background-image: url('/assets/images/students-night-study.jpeg')">
		</div>*/}}
		<button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1, 'mySlides2')">&#10094;</button>
		<button class="w3-button w3-black w3-display-right" onclick="plusDivs(1, 'mySlides2')">&#10095;</button>
	    </div>
	</div>
    </section>
    {{/*<section class="w3-content">
	<h2 class="w3-center section-header">Job Adverts</h2>
	<p>There are no job vacancies at the moment.</p>
    </section>*/}}
</main>
<script>
 w3.slideshow(".mySlides", 5000)
 w3.slideshow(".mySlides2", 5000)
 var slideIndex = 1;
 showDivs(slideIndex);

 function plusDivs(n, classname) {
     showDivs(slideIndex += n, classname);
 }

 function showDivs(n, classname) {
     var i;
     var x = document.getElementsByClassName(classname);
     if (n > x.length) {slideIndex = 1}
     if (n < 1) {slideIndex = x.length}
     for (i = 0; i < x.length; i++) {
	 x[i].style.display = "none";  
     }
     x[slideIndex-1].style.display = "block";  
 }
</script>
{{end}}
