{{define "content"}}
<main class="w3-container">
    <section class="w3-content w3-center">
	<div class="w3-padding-large w3-display-container">
	    <img class="mySlides w3-center" src="/assets/images/solar-kits.png" style="width:100%">
	    <img class="mySlides" src="/assets/images/solar-pumpset.png" style="width:100%">
	    <img class="mySlides" src="/assets/images/solar-geysers.png" style="width:100%">

	    <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
	    <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
	</div>
    </section>
    <section class="w3-content">
	<h2 class="w3-center section-header">Our Projects</h2>
	<p>This information will be provided later.</p>
    </section>
    <section class="w3-content">
	<h2 class="w3-center section-header">Microgrid news</h2>
	<p>No information.</p>
    </section>
    <section class="w3-content">
	<h2 class="w3-center section-header">Job Adverts</h2>
	<p>There are no job vacancies at the moment.</p>
    </section>
</main>
<script>
 w3.slideshow(".mySlides", 4000)
 var slideIndex = 1;
 showDivs(slideIndex);

 function plusDivs(n) {
     showDivs(slideIndex += n);
 }

 function showDivs(n) {
     var i;
     var x = document.getElementsByClassName("mySlides");
     if (n > x.length) {slideIndex = 1}
     if (n < 1) {slideIndex = x.length}
     for (i = 0; i < x.length; i++) {
	 x[i].style.display = "none";  
     }
     x[slideIndex-1].style.display = "block";  
 }
</script>
{{end}}
