{{define "content"}}

<header class="bgimg-1 w3-display-container main-content">
    <div class="w3-display-bottomleft w3-center w3-padding-large">
        <span class="w3-tag theme-bg"><a class="w3-text-white" href="/about">Learn more</a></span>
    </div>
    <div class="w3-display-middle w3-center">
        <div class="w3-margin w3-round-large w3-padding-large" style="min-width:300px;">
            <span class="w3-text-white w3-xlarge">
		<b>We provide low-cost solar energy systems to commercial and residential customers</b></span>
	</div>
    </div>
    <div class="w3-display-bottomright w3-center w3-padding-large">
        <span class="w3-tag theme-bg"><a class="w3-text-white" href="/blog">Visit our blog</a></span>
    </div>
</header>

<main class="w3-container w3-white">
    <!--section class="w3-content">
	<h2 class="w3-center section-header">WHO WE ARE</h2>
	<p>ERAC ENERGY LIMITED is a Zambian registered energy company with offices in Lusaka, and provides innovative solar energy systems to commercial and residential customers.</p>
    </section-->
    <!-- begin our solutions -->
    <section class="w3-content w3-white">
	<h2 class="w3-center section-header">Our Services</h2>
	<div class="w3-row">
	    <div class="w3-col s12 m4 w3-padding-large">
		<div class="w3-hover-shadow theme-card w3-padding-large w3-center w3-round-xlarge">
		    <h6 class="theme-color-2">OFF-GRID SOLAR PV SOLUTIONS</h6>
		    <!--img src="/assets/images/solutions/off-grid.jpg" width="100%" alt="solar solutions"-->
		    <div class="card-content">
			<p>We custom-design and install off-grid solutions for customers who are not connected to the national grid.</p>
		    </div>
		    <div class="card-content">
			<a href="/off-grid-solar-pv-solutions" class="w3-padding theme-btn w3-round-large">READ MORE</a>
		    </div>
		</div>
	    </div>
	    <div class="w3-col s12 m4 w3-padding-large">
		<div class="w3-hover-shadow theme-card w3-padding-large w3-center w3-round-xlarge">
		    <h6 class="theme-color-2">SOLAR HYBRID AND BATTERY BACKUP SOLUTIONS</h6>
		    <div class="card-content">
			<p>We offer solar hybrid and battery backup solutions to ensure continuous power supply.</p>
		    </div>
		    <div class="card-content">
			<a href="/solar-hybrid-and-battery-backup" class="w3-padding theme-btn w3-round-large">READ MORE</a>
		    </div>
		</div>
	    </div>
	    <div class="w3-col s12 m4 w3-padding-large">
		<div class="w3-hover-shadow theme-card w3-padding-large w3-center w3-round-xlarge">
		    <h6 class="theme-color-2">SOLAR STREET LIGHTS</h6>
		    <div class="card-content">
			<p>We offer street lighting and other general lighting solutions for residential and commercial places such as markets.</p>
		    </div>
		    <div class="card-content">
			<a href="/solar-street-lights" class="w3-padding theme-btn w3-round-large">READ MORE</a>
		    </div>
		</div>
	    </div>
	</div>
	<div class="w3-row">
	    <div class="w3-col s12 m4 w3-padding-large">
		<div class="w3-hover-shadow theme-card w3-padding-large w3-center w3-round-xlarge">
		    <h6 class="theme-color-2">SOLAR PUMPS AND GEYSERS</h6>
		    <div class="card-content">
			<p>We supply and install solar water pumps and solar geysers to individuals, guest houses, hotels and other residential facilities.</p>
		    </div>
		    <div class="card-content">
			<a href="/solar-pumps-and-geysers" class="w3-padding theme-btn w3-round-large">READ MORE</a>
		    </div>
		</div>
	    </div>
	    <div class="w3-col s12 m4 w3-padding-large">
		<div class="w3-hover-shadow theme-card w3-padding-large w3-center w3-round-xlarge">
		    <h6 class="theme-color-2">SOLAR ENERGY KITS AND SOLAR HOME SYSTEMS</h6>
		    <div class="card-content">
			<p>We supply solar energy kits (lanterns) and solar home systems.</p>
		    </div>
		    <div class="card-content">
			<a href="/solar-energy-kits-and-home-systems" class="w3-padding theme-btn w3-round-large">READ MORE</a>
		    </div>
		</div>
	    </div>
	    <div class="w3-col s12 m4 w3-center w3-padding-large">
		<div class="w3-hover-shadow theme-card w3-padding-large w3-center w3-round-xlarge">
		    <h6 class="theme-color-2">TECHNICAL & CONSULTANCY SERVICES</h6>
		    <div class="card-content">
			<p>We offer technical & consultancy services on solar energy systems and other electrical services such as residential wiring.</p>
		    </div>
		    <div class="card-content">
			<a href="/technical-consultancy" class="w3-padding theme-btn w3-round-large">READ MORE</a>
		    </div>
		</div>
	    </div>
	</div>
    </section><!-- end our solutions -->
    <!-- Begin Past Projects -->
    <section class="w3-content">
	<h2 class="w3-center section-header">Some Projects</h2>
	<section class="w3-content">
	    <div class="w3-padding-large w3-display-container">
		<div class="w3-row w3-hide-small w3-padding-large">
		    <div class="w3-col s12 m6">
			<a class="theme-color" href="/blog">
			    <img src="/assets/images/solar-panels-for-inverter-and-pump.jpeg" width="90%">
			</a>
		    </div>
		    <div class="w3-col s12 m6 header w3-center">
			<h3><a class="theme-color" href="/blog">SOLAR POWER FOR OUR MOON EDUCATION</a></h3>
			<p>Our Moon Education is a charitable organization registered in Zambia which helps underprivileged students to access higher education.</p>
		    </div>
		</div>
		<hr>
		<div class="w3-row w3-hide-small">
		    <div class="w3-col s12 m6 header w3-center">
			<h3><a class="theme-color" href="/blog">RESIDENTIAL HYBRID SOLAR HOME SYSTEM</a></h3>
			<p>ERAC Energy Limited installed a hybrid solar system to power a residential home.</p>
		    </div>
		    <div class="w3-col s12 m6">
			<a class="theme-color" href="/blog">
			    <img src="/assets/images/hybrid-system.jpeg" width="90%">
			</a>
		    </div>
		</div>
		<div class="w3-row w3-hide-medium w3-hide-large" style="background-image: url('/assets/images/students-night-study.jpeg'); background-position: center; background-repeat: no-repeat; background-size: 100%; margin: 10px;">
		    <div class="w3-col s12 w3-center w3-padding-large" style="background-color:#000; opacity:0.5; margin: auto; height: 200px">

			<div class="w3-border w3-round-large" style="margin-top: 60px">
			    <a href="/blog" class="w3-text theme-color2 w3-text-white w3-large">Solar Power for Our Moon Education</a>
			</div>
		    </div>
		</div>
		<div class="w3-row w3-hide-medium w3-hide-large" style="background-image: url('/assets/images/hybrid-system.jpeg'); background-position: center; background-repeat: no-repeat; background-size: 100%; margin: 10px;">
		    <div class="w3-col s12 w3-center w3-padding-large" style="background-color:#000; opacity:0.5; margin: auto; height: 200px">

			<div class="w3-border w3-round-large" style="margin-top: 60px">
			    <a href="/blog" class="w3-text theme-color2 w3-text-white w3-large">Residential Hybrid Solar Home System</a>
			</div>
		    </div>
		</div>
		{{/*<div class="mySlides w3-row bgimg-slide" style="background-image: url('/assets/images/solar-panels-for-inverter-and-pump.jpeg')">
		<div class="w3-col s12 m4 w3-margin w3-round-large w3-right w3-padding-large" style="background-color:#000; opacity:0.7">
		<span class="w3-text theme-color2 w3-text-white w3-large">
		Nanogrid Project</span>
		</div>
		</div>
		<div class="mySlides w3-row bgimg-slide" style="background-image: url('/assets/images/hybrid-system.jpeg')">
		<div class="w3-col s12 m4 w3-margin w3-round-large w3-right w3-padding-large" style="background-color:#000; opacity:0.7">
		<span class="w3-text theme-color2 w3-text-white w3-large">
		Residential Hybrid Solar Home System</span>
		</div>
		</div>
		<div class="mySlides w3-row bgimg-slide" style="background-image: url('/assets/images/students-night-study.jpeg')">
		<div class="w3-col s12 m4 w3-margin w3-round-large w3-right w3-padding-large" style="background-color:#000; opacity:0.7">
		<span class="w3-text theme-color2 w3-text-white w3-large">
		Students studying at night using solar power from the nanogrid project</span>
		</div>
		</div>
		<!--img class="mySlides" src="/assets/images/solar-pumpset.png" style="width:100%">
		<img class="mySlides" src="/assets/images/solar-geysers.png" style="width:100%"-->

		<button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
		<button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>*/}}
	    </div>
	</section>
    </section>
    <section class="w3-content">
	<h2 class="w3-center section-header">Upcoming Project</h2>
	<section class="w3-content w3-center">
	    <img src="/assets/images/energy_billing1.jpg" width="80%">
	    <p>Reducing the energy cost of mission hospitals in Zambia by 30%</p>
	    <p>Starting: November 20, 2020</p>
	</section>
    </section>
</main>
<script>
 w3.slideshow(".mySlides", 5000)
 var slideIndex = 1;
 showDivs(slideIndex);

 function plusDivs(n) {
     showDivs(slideIndex += n);
 }

 function showDivs(n) {
     var i;
     var x = document.getElementsByClassName("mySlides");
     if (n > x.length) {slideIndex = 1}
     if (n < 1) {slideIndex = x.length}
     for (i = 0; i < x.length; i++) {
	 x[i].style.display = "none";  
     }
     x[slideIndex-1].style.display = "block";  
 }
</script>
{{end}}
