{{define "content"}}
<main class="w3-container">
    <section class="w3-content w3-center">
	<div class="w3-padding-large w3-display-container">
	    <img class="mySlides w3-center" src="/assets/images/solar-kits.png" style="width:100%">
	    <img class="mySlides" src="/assets/images/solar-pumpset.png" style="width:100%">
	    <img class="mySlides" src="/assets/images/solar-geysers.png" style="width:100%">

	    <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
	    <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
	</div>
    </section>
    <section class="w3-content">
	<h2 class="w3-center section-header">WHO WE ARE</h2>
	<p>ERAC ENERGY LIMITED is a Zambian registered energy company with offices in Lusaka, and provides innovative solar energy systems to commercial and residential customers.</p>
    </section>
    <section class="w3-content">
	<h2 class="w3-center section-header">OUR SOLUTIONS</h2>
	<div class="w3-row">
	    <div class="w3-col s12 m4 w3-padding-large">
		<h4>Off-grid solar PV systems</h4>
		<img src="" width="100%" alt="solar solutions">
		<p></p>
	    </div>
	    <div class="w3-col s12 m4 w3-padding-large">
		<h4>Off-grid solar PV systems</h4>
		<img src="" width="100%" alt="solar solutions">
		<p></p>
	    </div>
	    <div class="w3-col s12 m4 w3-padding-large">
		<h4>Off-grid solar PV systems</h4>
		<img src="" width="100%" alt="solar solutions">
		<p></p>
	    </div>
	</div>
	<div class="w3-row">
	    <div class="w3-col s12 m4 w3-padding-large">
		<h4>Off-grid solar PV systems</h4>
		<img src="" width="100%" alt="solar solutions">
		<p></p>
	    </div>
	    <div class="w3-col s12 m4 w3-padding-large">
		<h4>Off-grid solar PV systems</h4>
		<img src="" width="100%" alt="solar solutions">
		<p></p>
	    </div>
	    <div class="w3-col s12 m4 w3-padding-large">
		<h4>Off-grid solar PV systems</h4>
		<img src="" width="100%" alt="solar solutions">
		<p></p>
	    </div>
	</div>
    </section>
    <section class="w3-content">
	<h2 class="w3-center section-header">OUR BRANDS</h2>
	<div class="w3-row">
	    <div class="w3-col s12 m3 w3-padding-large">
		<img src="" width="100%" alt="victron energy">
	    </div>
	</div>
    </section>
</main>
<script>
 w3.slideshow(".mySlides", 4000)
 var slideIndex = 1;
 showDivs(slideIndex);

 function plusDivs(n) {
     showDivs(slideIndex += n);
 }

 function showDivs(n) {
     var i;
     var x = document.getElementsByClassName("mySlides");
     if (n > x.length) {slideIndex = 1}
     if (n < 1) {slideIndex = x.length}
     for (i = 0; i < x.length; i++) {
	 x[i].style.display = "none";  
     }
     x[slideIndex-1].style.display = "block";  
 }
</script>
{{end}}
