{{define "content"}}

<header class="bgimg-1 w3-display-container">
    <div class="w3-display-bottomleft w3-center w3-padding-large">
        <span class="w3-tag"><a class="theme-color" href="/about">Learn more</a></span>
    </div>
    <div class="w3-display-middle w3-center">
        <div class="w3-margin w3-round-large" style="background-color:#000; opacity:0.7">
            <span class="w3-text theme-color2 w3-text-white w3-xlarge">
		<b class="theme-color">ERAC ENERGY LIMITED</b> is a Zambian registered energy company with offices in Lusaka, and provides innovative solar energy systems to commercial and residential customers<!--Man and Machine><br>Together--></span></div>
    </div>
    <div class="w3-display-bottomright w3-center w3-padding-large">
        <span class="w3-tag"><a class="theme-color" href="/blog">Visit our blog</a></span>
    </div>
</header>

<main class="w3-container w3-white">
    <!--section class="w3-content">
	<h2 class="w3-center section-header">WHO WE ARE</h2>
	<p>ERAC ENERGY LIMITED is a Zambian registered energy company with offices in Lusaka, and provides innovative solar energy systems to commercial and residential customers.</p>
    </section-->
    <!-- begin our solutions -->
    <section class="w3-container w3-white">
	<h2 class="w3-center section-header">OUR SERVICES</h2>
	<div class="w3-row">
	    <div class="w3-col s12 m4 w3-padding-large">
		<h4 class="w3-center">Off-grid solar PV systems</h4>
		<img src="/assets/images/solutions/off-grid.jpg" width="100%" alt="solar solutions">
		<p>We offer custom-designed off-grid solar systems to individuals, schools, clinics, offices, small and medium enterprises that have no access to the national grid.</p>
	    </div>
	    <div class="w3-col s12 m4 w3-padding-large">
		<h4 class="w3-center">Grid-tied, Solar Hybrid & Backup Systems</h4>
		<img src="/assets/images/solutions/solar-backup.jpg" width="100%" alt="solar solutions">
		<p>We offer grid-tied, solar hybrid and battery backup systems to customers who are coonected to the grid (i.e ZESCO) and would want to have a continuous power supply during load shedding or want to cut their electricity bills by running the solar system in parallel with the grid.</p>
	    </div>
	    <div class="w3-col s12 m4 w3-padding-large">
		<h4 class="w3-center">Solar Street Lights</h4>
		<img src="/assets/images/solutions/solar-streetlights.jpg" width="100%" alt="solar solutions">
		<p>We offer street lighting and other general lighting solutions for residential and commercial places such as markets.</p>
	    </div>
	</div>
	<div class="w3-row">
	    <div class="w3-col s12 m4 w3-padding-large">
		<h4 class="w3-center">Solar Water Pumps and Solar Geysers</h4>
		<img src="/assets/images/solutions/solar-pumpset.png" width="46%" alt="solar solutions">
		<img src="/assets/images/solutions/solar-geysers.jpg" width="46%" alt="solar solutions">
		<p>We supply and install solar water pumps and water heating systems (geysers) to individuals, guest houses, hotels and other residential facilities.</p>
	    </div>
	    <div class="w3-col s12 m4 w3-padding-large">
		<h4 class="w3-center">Solar Energy Kits and Solar Home Systems</h4>
		<img src="/assets/images/solutions/solar-kits.png" width="100%" alt="solar solutions">
		<p>We supply solar energy kits (lanterns) and solar home systems.</p>
	    </div>
	    <div class="w3-col s12 m4 w3-center w3-padding-large">
		<h4 class="w3-center">Technical Consultansy Services</h4>
		<img src="/assets/images/solutions/consultancy.png" width="50%" alt="solar solutions">
		<p>We offer fee-based technical and  consultancy services on solar energy systems.</p>
	    </div>
	</div>
    </section><!-- end our solutions -->
    <!-- Begin Our Brands -->
    <section class="w3-content">
	<h2 class="w3-center section-header">OUR BRANDS</h2>
	<div class="w3-row w3-center w3-padding-top">
	    <div class="w3-col s12 m3 w3-padding-large">
		<img src="/assets/images/brands/victron.png" width="100%" alt="victron energy">
	    </div>
	    <div class="w3-col s12 m3 w3-padding-large">
		<img src="/assets/images/brands/morningstar.png" width="100%" alt="Morning Star">
	    </div>
	    <div class="w3-col s12 m3 w3-padding-large">
		<img src="/assets/images/brands/axitec.png" width="100%" alt="Axitec">
	    </div>
	    <div class="w3-col s12 m3 w3-padding-large">
		<img src="/assets/images/brands/pylontech.png" width="100%" alt="Pylon Tec">
	    </div>
	</div>
	<div class="w3-row">
	    <div class="w3-col s12 m3 w3-padding-large">
		<img src="/assets/images/brands/steca.jpg" width="100%" alt="teca">
	    </div>
	    <div class="w3-col s12 m3 w3-padding-large">
		<img src="/assets/images/brands/outback.jpg" width="100%" alt="Out back">
	    </div>
	    <div class="w3-col s12 m3 w3-padding-large">
		<img src="/assets/images/brands/jinko.png" width="100%" alt="Jinko">
	    </div>
	    <div class="w3-col s12 m3 w3-padding-large">
		<img src="/assets/images/brands/fronius.png" width="100%" alt="Fronius">
	    </div>
	</div>
	<div class="w3-row">
	    <div class="w3-col s12 m3 w3-padding-large">
		<img src="/assets/images/brands/sma.png" width="100%" alt="SMA">
	    </div>
	    <div class="w3-col s12 m3 w3-padding-large">
		<img src="/assets/images/brands/rolls.png" width="100%" alt="Rollsk">
	    </div>
	    <div class="w3-col s12 m3 w3-padding-large">
		<img src="/assets/images/brands/jasolar.png" width="100%" alt="JA Solar">
	    </div>
	    <div class="w3-col s12 m3 w3-padding-large">
		<img src="/assets/images/brands/bright.png" width="100%" alt="Bright">
	    </div>
	</div>
    </section><!-- end our brands -->
    <!-- Begin Past Projects -->
    <section class="w3-content">
	<h2 class="w3-center section-header">PROJECTS</h2>
	<section class="w3-content">
	    <div class="w3-padding-large w3-display-container">
		<div class="mySlides w3-row bgimg-slide" style="background-image: url('/assets/images/solar-panels-for-inverter-and-pump.jpeg')">
		    <div class="w3-col s12 m4 w3-margin w3-round-large w3-right w3-padding-large" style="background-color:#000; opacity:0.7">
			<span class="w3-text theme-color2 w3-text-white w3-large">
			    Nanogrid Project</span>
		    </div>
		</div>
		<div class="mySlides w3-row bgimg-slide" style="background-image: url('/assets/images/hybrid-system.jpeg')">
		    <div class="w3-col s12 m4 w3-margin w3-round-large w3-right w3-padding-large" style="background-color:#000; opacity:0.7">
			<span class="w3-text theme-color2 w3-text-white w3-large">
			    Residential Hybrid Solar Home System</span>
		    </div>
		</div>
		<div class="mySlides w3-row bgimg-slide" style="background-image: url('/assets/images/students-night-study.jpeg')">
		    <div class="w3-col s12 m4 w3-margin w3-round-large w3-right w3-padding-large" style="background-color:#000; opacity:0.7">
			<span class="w3-text theme-color2 w3-text-white w3-large">
			    Students studying at night using solar power from the nanogrid project</span>
		    </div>
		</div>
		<!--img class="mySlides" src="/assets/images/solar-pumpset.png" style="width:100%">
		<img class="mySlides" src="/assets/images/solar-geysers.png" style="width:100%"-->

		<button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
		<button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
	    </div>
	</section>
    </section>
</main>
<script>
 w3.slideshow(".mySlides", 5000)
 var slideIndex = 1;
 showDivs(slideIndex);

 function plusDivs(n) {
     showDivs(slideIndex += n);
 }

 function showDivs(n) {
     var i;
     var x = document.getElementsByClassName("mySlides");
     if (n > x.length) {slideIndex = 1}
     if (n < 1) {slideIndex = x.length}
     for (i = 0; i < x.length; i++) {
	 x[i].style.display = "none";  
     }
     x[slideIndex-1].style.display = "block";  
 }
</script>
{{end}}
