{{define "content"}}
<main class="main-content">
    <header class="w3-center theme-bg-2 header">
	<div class="w3-padding-large">
	    <h1 class="w3-text-white">SOLAR PUMPS AND GEYSERS</h1>
	</div>
    </header>
    <section class="w3-content">
	<p>We offer submersible and surface water pumps for a variety of applications including irrigation and domestic use. We have 2 types: DC and AC pumping solutions.</p>
	<p>We also supply and install water heating solutions such as solar geysers to individuals, guesthouses, hotels and other institutions in order to reduce electricity bills and ensure reliability of hot water at all the time.</p>
    </section>
</main>
{{end}}
