{{define "content"}}
<main class="main-content">
    <header class="w3-center theme-bg-2 header">
	<div class="w3-padding-large">
	    <h1 class="w3-text-white">SOLAR STREET LIGHTS</h1>
	</div>
    </header>
    <section class="w3-content">
	<p>ERAC Energy Limited offers street lighting and other general lighting solutions for commercial places such as markets.</p>
	<p>Trading hours in markets can be extended because the places will be lit in the evening so that business can take place.</p>
	<p>Solar outdoor lighting can play a critical role in ensuring increased security in urban and rural areas.</p>
    </section>
</main>
{{end}}
