{{define "content"}}
<main class="main-content">
    <header class="w3-center theme-bg-2 header">
	<div class="w3-padding-large">
	    <h1 class="w3-text-white">SOLAR HYBRID AND BATTERY BACKUP SOLUTIONS</h1>
	</div>
    </header>
    <section class="w3-content">
	<p>ERAC Energy Limited offers grid-tied, solar hybrid and battery backup systems to both residential and commercial customers who have an existing grid connection.</p>
	<p>Our solar hybrid system and backup system provides continuous power supply so that when there is a power outage or blackout, our customers will still have power back-up supply. Our hybrid and backup systems are suitable for locations with unstable power supply.</p>
	<p>Our Grid-tied system can works hand in hand with the utility power. The main feature of grid-tied system is the ability of the inverter to feed excess solar energy into the grid. This system can drastically reduce the monthly electricity bills.</p>
	<p>Our solutions come with additional services such as Remote monitoring and 1-year maintenance warranty.</p>
    </section>
</main>
{{end}}
