{{define "content"}}
<main class="w3-container">
    <section class="w3-content w3-center">
	<div class="w3-padding-large w3-display-container">
	    <img class="mySlides w3-center" src="/assets/images/solar-kits.png" style="width:100%">
	    <img class="mySlides" src="/assets/images/solar-pumpset.png" style="width:100%">
	    <img class="mySlides" src="/assets/images/solar-geysers.png" style="width:100%">

	    <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
	    <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
	</div>
    </section>
    <section class="w3-content" id="off-grid">
	<h2 class="w3-center section-header">Off-grid Solar PV Systems</h2>
	<p>We offer custom-designed off-grid solar systems to individuals, schools, clinics, offices, and small and medium enterprises that have no access to the national grid.<br />
	    Our customer tailor-made off-grid systems can power lights, charge phone, TVs, computers, refrigerators, office equipment, medical equipment, and many more appliances.<br />
	    They come with additional services such as Remote monitoring and 1-year maintenance warranty.</p>
    </section>
    <section class="w3-content" id="lights">
	<h2 class="w3-center section-header">Grid-tied, solar hybrid &amp; Backup Systems</h2>
	<p>We offer grid-tied, solar hybrid and battery backup systems to both residential and commercial customers who have an existing grid (ZESCO) connection.<br />
	    The solar hybrid system and backup system provides continuous power supply so that when there is a power outage or blackout, you will still have electricity as you can rely on your solar or battery system to provide back-up power. A hybrid or backup system is suitable for locations with unstable power supply.<br />
	    A Grid-tied system can works hand in hand with the utility (ZESCO) power. The main feature of grid-tied system is the ability of the inverter to feed excess solar energy into the grid. This system can drastically reduce the monthly electricity bills.<br />
	    These solutions also come with additional services such as Remote monitoring and 1-year maintenance warranty.</p>
    </section>
    <section class="w3-content">
	<h2 class="w3-center section-header">Solar Street Lights</h2>
	<p>We offer street lighting and other general lighting solutions for commercial places such as markets so that the places can be lit in the evening.</p>
    </section>
    <section class="w3-content" id="pumps">
	<h2 class="w3-center section-header">Solar Water Pumps and Geysers</h2>
	<ol>
	    <li>
		Solar water pumps<br />
		We offer submersible and surface water pumps for a variety of applications including irrigation and domestic use. We have 2 types: DC and AC pumping solutions.
		<table class="w3-table">
		    <tr>
			<th>Our DC pump set comprises of:</th>
			<th>Our AC pump set comprises of:</th>
		    </tr>
		    <tr>
			<td>
			    <ul>
				<li>Solar panels</li>
				<li>Solar pump and controller</li>
				<li>Solar panel mounting stand</li>
				<li>Electric cables</li>
				<li>Piping up to the surface</li>
				<li>Accessories</li>
				<li>Installation</li>
				<li>1 year warranty</li>
			    </ul>
			</td>
			<td>
			    <ul>
				<li>Solar panels</li>
				<li>Solar pump and controller</li>
				<li>Solar panel mounting stand</li>
				<li>Electric cables</li>
				<li>Piping up to the surface</li>
				<li>Accessories</li>
				<li>Installation</li>
				<li>1 year warranty</li>
			    </ul>
			</td>
		    </tr>
		    <tr>
			<td>Extra Options: Tank and tank stand</td>
			<td>Extra Options: Tank and tank stand</td>
		    </tr>
		</table>
	    </li>
	    <li>
		Solar geysers<br />
		We supply and install water heating solutions such as solar geysers to individuals, guesthouses, hotels and other institutions in order to reduce on electricity bills and ensure reliability of hot water at all hours of the day.
	    </li>
	</ol>
    </section>
    <section class="w3-content" id="home">
	<h2 class="w3-center section-header">Solar Energy Kits and Solar Home Systems</h2>
	<div class="w3-content">
	    <h3 class="w3-text-red">Solar Energy Kits</h3>
	    <p>We have two types of solar lanterns: SunTurtle and Bright Sunbell Smart</p>
	    <p><b>Type A: SunTurtle:</b> is a solar light with an integrated solar panel and three light levels: low, medium and high. It comes with the Flex foot stand that allows you to use SunTurtle as a reading light, a wall-mounted light and a hanging light.</p>
	    <p>It comes in four colours: Yellow, Blue, Green and Red.</p>
	    <div class="w3-row">
		<div class="w3-col s6 m3">
		    <img src="/assets/images/sunturtle-red.jpg" width="90%">
		</div>
		<div class="w3-col s6 m3">
		    <img src="/assets/images/sunturtle-blue.jpg" width="90%">
		</div>
		<div class="w3-col s6 m3">
		    <img src="/assets/images/sunturtle-mixed.jpg" width="90%">
		</div>
		<div class="w3-col s6 m3">
		    <img src="/assets/images/sunturtle-yellow.jpg" width="90%">
		</div>
	    </div>
	    <p><b>Type B: BRIGHT Sunbell Smart:</b></p>
	    <p>A unique solar lamp and phone charger that can charge your phone or give you 120 hours of lights in one charge. Sunbell Smart has 3 different light modes: Low, medium, and high. The lamp has three high-quality Samsung LEDs which have a lifespan of more than 50,000 hours or 6+ years while the battery is made to last 1,500 cycles or 4+ years and can be replaced. A complete set of Sunbell Smart comes with: Light and battery unit, Lamp shade, Solar panel and USB cable.</p>
	    <div class="w3-row">
		<div class="w3-col s6 m3">
		    <img src="/assets/images/sunbell-blue.jpg" width="90%">
		</div>
		<div class="w3-col s6 m3">
		    <img src="/assets/images/sunbell-green.jpg" width="90%">
		</div>
		<div class="w3-col s6 m3">
		    <img src="/assets/images/sunbell-boxes.jpg" width="90%">
		</div>
		<div class="w3-col s6 m3">
		    <img src="/assets/images/sunbell-red.jpg" width="90%">
		</div>
	    </div>
	</div>
	<div class="w3-content">
	    <h3 class="w3-text-red">Solar Home Systems</h3>
	    <p>BRIGHT Home is our solar home lighting system that can power up to six lamps for indoor and outdoor use, and has two USB ports for charging mobile phones.</p>
	    <span class="w3-row">
		<img src="/assets/images/solar-system.jpg" width="90%">
	    </span>
	</div>
    </section>
    <section class="w3-content" id="consult">
	<h2 class="w3-center section-header">Technical and Consultancy Services</h2>
	<p>We offer fee-based technical and consultancy services on solar energy systems. Our expert team is at hand to advise clients on the best system that meets their energy needs. To us, customer care service is our number one priority to build enduring relationships with our clients and foster the growth of the solar industry.</p>
    </section>
</main>
<script>
 w3.slideshow(".mySlides", 4000)
 var slideIndex = 1;
 showDivs(slideIndex);

 function plusDivs(n) {
     showDivs(slideIndex += n);
 }

 function showDivs(n) {
     var i;
     var x = document.getElementsByClassName("mySlides");
     if (n > x.length) {slideIndex = 1}
     if (n < 1) {slideIndex = x.length}
     for (i = 0; i < x.length; i++) {
	 x[i].style.display = "none";  
     }
     x[slideIndex-1].style.display = "block";  
 }
</script>
{{end}}
