{{define "content"}}
<main class="main-content">
    <header class="w3-center theme-bg-2 header">
	<div class="w3-padding-large">
	    <h1 class="w3-text-white">TECHNICAL & CONSULTANCY SERVICES</h1>
	</div>
    </header>
    <section class="w3-content">
	<div class="w3-container">
	    <p>We offer fee-based technical and consultancy services on solar energy systems. Our expert team is at hand to advise clients on the best system that meets their energy needs. To us, customer care service is our number one priority to build enduring relationships with our clients and foster the growth of the solar industry.</p>
	    <p> We also offer other electrical services such as:</p>
	    <ol>
		<li>Household and commercial wiring.</li>
		<li>Electrical installation and repair services.</li>
		<li>Energy efficiency and energy audits.</li>
	    </ol>
	</div>
    </section>
</main>
{{end}}
