{{define "footer"}}
<footer>
    <div class="w3-row w3-border-top w3-border-bottom">
	<div class="w3-col s12 m4 w3-border-right w3-center w3-padding-large">
	    <img src="/assets/images/eracenergylogo.jpg" width="100%" alt="ERAC">
	</div>
	<div class="w3-col s12 m4 w3-padding-large">
	    <ul>
		<li><a href="/">Home</a></li>
		<li><a href="/about">About</a></li>
		<li><a href="/solutions">Products & Services</a></li>
		<li><a href="/blog">Blog</a></li>
		<li><a href="/contact">Contact Us</a></li>
	    </ul>
	</div>
	<div class="w3-col s12 m4 w3-border-left w3-padding-large">
	    <h3>Contact Details</h3>
	    <p>Plot No. 140, 2nd Street, Mwambula Road, Jesomndine, Lusaka, ZAMBIA</p>
	    <p>(+260) 97 8321973<br />
		(+260) 97 6684689</p>
	    <p>Email: <a href="mailto:eracenergyltd@gmail.com" class="w3-text-blue">eracenergyltd@gmail.com</p>
	</div>
    </div>
</footer>
{{end}}
